<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
</head>
<body>
    <h1>会員登録</h1>
    <form th:action="@{/register}" th:object="${memberRegisterForm}" method="post">
        <div>
            <label for="name">氏名</label>
            <input type="text" id="name" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></p>
        </div>
        <div>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></p>
        </div>
        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></p>
        </div>
        <div>
            <label for="passwordConfirm">パスワード(確認)</label>
            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}">
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color:red;"></p>
        </div>
        <button type="submit">登録する</button>
    </form>
    <p><a th:href="@{/login}">ログインはこちら</a></p>
</body>
</html>
