<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CartRepository">

    <select id="findByMemberId" resultType="com.example.demo.entity.Cart">
        SELECT
            cart_id,
            member_id,
            created_at,
            updated_at
        FROM carts
        WHERE member_id = #{memberId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO carts (
            member_id
        ) VALUES (
            #{memberId}
        )
    </insert>

</mapper>
